hr{
  border: 1px solid black;
}



.AboutColumnimg{
padding-top: 130px;
}
.Columnimg1{
width:100%;
max-width: 400px;
height: 100%;
max-height: 600px;
border-radius: 10px;

}



.aboutsection1{
margin-top: 40px;
}
.aboutfont1heading{
font-family: "Oswald", sans-serif;
font-size:50px;
font-weight: 500;
text-align: center;
color: #2b2929;
}
.aboutcontent{
    font-size:16px;
    text-align: left;
    font-family:"Open Sans", sans-serif;

}
.aboutcontent1{
  font-size:16px;
  text-align: left;
  font-family:"Open Sans", sans-serif;

}


.dvabout1{
padding-top: 30px;
  text-align: center;
  padding-bottom: 50px;
  height: auto;
 
}

.dvaboutfont1{
font-family:"Oswald", sans-serif;
font-size:3.15rem ;
font-weight: 500;
text-align: center;
color: #2b2929;
}

.aboutcontent2{
  font-size: 16px;
text-align: center;
  font-family:"Open Sans", sans-serif; 
  
}
.emailinput{
  width: 300px;
  height: 40px;
  border-radius: 5px;
padding-left: 10px;
}
.emaildiv{
  margin-top: 30px;
  
}
.emaildivbackground{

  height: 250px;
  background-color:#202020
}

.emailfont1{
  font-family:"Oswald", sans-serif;
   font-size: 20px; 
   color:white;
   text-align: center;
  
}
.emailfont2{
  font-family:"Open Sans", sans-serif; 
  font-size: 19px; 

  color:white;
}
.btnemailsignup{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-left: 10px;
  
}
.btnemailsignup:hover{
  background-color:gray;
}





@media (max-width:1199px){
  .AboutColumnimg{
    padding-top: 120px;
    } 
  .aboutfont1heading{
    font-size:46px;
   
    }
 
  .aboutcontent{
      font-size:12px;

  }
  .aboutcontent1{
    font-size:14px;
  }

  .dvaboutfont1{
    font-size:46px ;
    }
    
    .aboutcontent2{
      font-size: 14px;  
    }
    .emailfont1{
     
       font-size: 18px; 
       text-align: left;
      
    }
    .emailfont2{
       
      font-size: 16px; 
   
    }
}

@media (max-width:991px){
 
  .AboutColumnimg{
    padding-top: 30px;
    } 
  .aboutfont1heading{
    font-size:46px;
   
    }
 
  .aboutcontent{
      font-size:12px;

  }
  .aboutcontent1{
    font-size:14px;
  }

  .dvaboutfont1{
    font-size:46px ;
    }
    
    .aboutcontent2{
      font-size: 12px;  
    }
    .emailfont1{
     
      font-size: 18px; 
     
     
   }
   .emailfont2{
      
     font-size: 16px; 
  
   }

.btnemailsignup{
  width: 75px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  
}
.emailinput{
width: 200px;
height: 35px;
}
.emaildivbackground{

height: 250px;
}
    


}

 


  @media (max-width:765px){
   
    .AboutColumnimg{
      padding-top: 30px;
      } 

.btnemailsignup{
  width: 75px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  
}
.emailinput{
width: 200px;
height: 35px;
}
.emaildivbackground{

height: 200px;
}
    

  }




  @media (max-width:560px){
  
    .AboutColumnimg{
      padding-top: 30px;
      } 

    .dvabout1{
      padding-top: 30px;
      padding-bottom: 10px;
     
         
      }
      
.btnemailsignup{
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  
}
.emailinput{
width: 190px;
height: 35px;
}
.emaildivbackground{

padding-top: 10px;
height: 240px;
padding-bottom: 10px;
}
    
    }



    @media (max-width:440px){
      .AboutColumnimg{
        padding-top: 30px;
        } 
    
    .btnemailsignup{
         text-align: center;
        margin-left: 80px;
        
    }
    .emailinput{
      width: 230px;
      height: 35px;
      padding-left: 70px;
    }
    }

   
    @media (max-width:375px){
    
.AboutColumnimg{
  padding-top: 30px;
  } 
.btnemailsignup{
  width: 60px;
  height: 25px;
  margin-top: 10px;
  margin-left: 5px;
  
}
 

.emailinput{
width: 220px;
height: 30px;
padding-left: 80px;
}
.emaildivbackground{
padding-top: 10px;
height: 240px;
padding-bottom: 10px;
}
.btnemailsignup{
         text-align: center;
        margin-left: 80px;
        
    }

    }



    @media (max-width:325px){
      .emaildivbackground{
        padding-top: 10px;
        height: 270px;
        padding-bottom: 10px;
        }
    }