@font-face{
    src: url(../Content/C_BOX_D.TTF);
    font-family: ChocolateBox;
  }

hr{
    border: 1px solid black;
}

.Sectionone{
  background-color: black;
  height: 200px;
 
}

.AboutColumnimg{
 padding-top: 90px;
}
.Columnimg1{
  width:100%;
  max-width: 400px;
 height: 100%;
  max-height: 600px;
  border-radius: 10px;

}

.blogbanner{
  position: relative;
  margin-top: 100px;
}

.bannerimg{
 
 width: 100%;
  max-width:1348px;
  height: 100%; 
  max-height:700px;
    
   margin-bottom: 70px;
    
  
}
.aboutbannerbackground{
  background-image: url(../Content/images/selectedBaner.jpg);
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
  height: 600px;
}

.blogbanner .bannertext2 {
  position: absolute;
 
  background: rgb(0, 0, 0); /* Fallback color */
  background: #2b292993; /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.bannr{
  background-image: url(../Content/images/selectedBaner.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.bannertxt2{
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  font-family: ChocolateBox;
  text-align: center;
  color: rgb(218, 218, 218);
}


.aboutfont1heading{
  font-family: ChocolateBox;
  font-size:3.5rem;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0)
  }
  .aboutcontent{
      font-size: 1.19rem;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: rgb(0, 0, 0)
  }



.bannerdiv{
  margin-top: 40px;
}



.dvabout1{
padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    height: auto;
   
}

.Aboutimage1{
width:100%;
max-width: 2000px;
height: auto;
}

.dvaboutfont1{
font-family: ChocolateBox;
font-size:3.125rem ;
font-weight: bold;
text-align: center;
color: rgb(0, 0, 0)
}
.aboutcontent{
    font-size: 1.125rem;
    
    font-family: 'Poppins', sans-serif;
    color: rgb(99, 98, 98)
}
.aboutcontent2{
    font-size: 1.125rem;
  text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(99, 98, 98)
}
.emailinput{
    width: 250px;
    height: 50px;
    border-radius: 5px;
 
}
.emaildiv{
    margin-top: 30px;
    
}
.emaildivbackground{
  
    height: 250px;
    background-color:#202020
}

.emailfont1{
    font-family: Poppins;
     font-size: 1.5rem; 
     color:white;

}
.emailfont2{
    font-family: Poppins; 
    font-size: 1rem; 
 
    color:white;
}
.btnemailsignup{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    
}
.btnemailsignup:hover{
    background-color:gray;
}


.parallax1 {
    /* The image used */
    background-image: url("../Content/images/Scrollableimage1.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0.7;
    z-index: 1;
  }

 


@media(max-width:768px) {
  .aboutbannerbackground{
          
    background-size: cover;
    
  }
}

  @media (min-width:300px){

    html{
    font-size:60%;
    }
     
    }
    @media (min-width:768px){

        html{
        font-size:70%;
        }
        
         
        }
    
    @media (min-width:900px){
        html{
          font-size: 80%;
        }
      
    }
    
    
    @media (min-width:1200px){
        html{
          font-size: 90%;
        }
    }