hr{
  border: 1px solid black;
}
.dvfaqs1{
  margin-top: 100px;
  margin-bottom: 100px;
  
}
.faqsmainheading{
font-family: "Oswald", sans-serif;
font-size:50px;
font-weight: 500;
text-align: center;

color: rgb(83, 83, 83)
}
.faqquestionheading{
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-size:30px ;
  font-weight: 500;
  color:  rgb(56, 54, 54);

}

.faqans{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: rgb(99, 98, 98);
}
.collapsible {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: rgb(56, 54, 54);
  cursor: pointer;
 
  text-align: left;
  border: none;
 
  outline: none;
  
    padding: 0px;
    line-height: 25px;
  }
   


 
.content {
  max-height: auto;
  padding: 0 18px;
  
 
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content:  "▼"; /* Unicode character for "plus" sign (+) */
  font-size: 21px;
  color: rgb(0, 0, 0);
  
  
 
}

 

link{
  text-decoration: none;
}

 
@media(max-width:991px){
  .faqquestionheading{
     
    font-size:28px ;
  
}
.faqsmainheading{
 
  font-size:40px;
 
  }
  
.faqans{
font-size: 16px;

}
.collapsible {
font-size: 16px;
padding: 0px;
line-height: 25px;
}


}

@media(max-width:768px){
  .faqquestionheading{
     
    font-size:26px ;
    text-align: center;
   
  
}
.faqsmainheading{
 
  font-size:36px;
 
  }
  
.faqans{
font-size: 16px;

}
.collapsible {
font-size: 16px;
padding: 0px;
line-height: 25px;
}


}


@media(max-width:460px){
   
  
.faqans{
font-size: 15px;

}
.collapsible {
font-size: 14px;
padding: 0px;
line-height: 25px;
}

}