.contain .footersection{
    background-color: rgb(32, 32, 32);
    height: auto;
    padding-left: 50px;
    font-size: 1.2rem;
    color: #fff;
}
a {
    text-decoration: none;
    color:#fff
}
.contain .footersection .firstsection{
     
   padding: 40px; 
}
.contain .footersection .sectioncontent1{
    width: 60%;
}
.contain .footersection .secondsection{
    padding: 40px; 
}
.contain .footersection .thirdsection{
    padding: 40px; 
    
}
.contain .footersection .fourthsection{
    padding: 40px; 
}
.contain .footersection .Logo{
    width: 100px;
    height: 60px;
    margin-bottom: 30px;
}
.contain .footersection .linktag{
    text-decoration: none;
     
  }
    
.contain .footersection .linktag:hover{
    text-decoration: none;
    color: gray;
  }

  .contain .footersection .footerheading{     
    font-size: 2.5rem;
    font-weight: bold;
}


