@font-face{
    src: url(../Content/C_BOX_D.TTF);
    font-family: ChocolateBox;
  }
.top-navbar {
    padding:5px;
    background-color: #2b2929;
   width: 100%;

    
}
.brand-link {
    display: inline-flex;
    margin:0 auto;
}
.brand-link h3 {
    color:#fff;
    font-size:28px;
    font-family: ChocolateBox;
    letter-spacing: 0.1px;
    font-weight: 500;
    
}
.brand-link img{
    width:156px;
    height:40px;
    
    


}
.nav-collapse {
    opacity: 0.5;
    background-color: black;
}
.header-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    align-items: center;
}
.nav-font {
    font-family:'Oswald';
    font-size:14px;
    font-weight: normal;
}
.nav-icon {
    padding-right: 5px;
}
.mob-nav {
    display: none;
}
@media(max-width:950px){
    .top-navbar {
        display:none;
    }
    .mob-nav{
        display: block;
        width: 100%;
        background-color: #2b2929;
    }
    .mob-nav-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-items {
        background-color: yellowgreen;
        display: none;
    }
    .main-mobnav {
        display:block;
    }
}