/*for heading*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
/*for button*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
/*for button*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*for heading 2*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
/*for body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*for button 2 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



main {
  min-height: 100vh;
  
  
}
h3 {
  padding: 1rem 0;
}
h1{
  padding: 0.1rem;
  font-size: 28px;

}
h2{
  padding: 0.1rem 0;
  font-size:24px;

}
.rating span {
  margin: 0.1rem;
}
 